@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  padding: 10px;
}

.quote-box {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(66, 66, 66);
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
}

.title {
  margin-bottom: 30px;
  position: relative;
}

.title::after {
  content: " ";
  display: block;
  height: 2px;
  width: 80px;
  border-radius: 10px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  background: #6457C6;
  transform: translateX(-50%);
}

.quote {
  font-size: 22px;
  min-height: 100px;
}

.quote::before,
.quote::after {
  content: '"';
}

.author {
  position: absolute;
  right: 10%;
  bottom: 25%;
  font-size: 12px;
  font-weight: 500;
}

.author::before {
  content: " ";
  display: block;
  height: 1px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 35%;
  left: -20px;
  background: #6457C6;
  transform: translateX(-50%);
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 30%;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 100px;
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(23, 124, 229);
}

.new-quote-btn {
  color: rgb(23, 124, 229);
}

.new-quote-btn:hover {
  background-color: rgb(23, 124, 229);
  color: white;
}

.facebook-btn {
  background-color: rgb(23, 124, 229);
  color: white;
}

.facebook-btn img {
  height: 20px;
  margin-right: 5px;
}

.facebook-btn:hover {
  background-color: rgb(237, 237, 237);
  color: rgb(23, 124, 229);
}